.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: flex;
  align-items: center;
}

.logo__link {
  display: flex;
}

.logo__text {
  display: flex;
  margin-right: 93px;
}

.logo-text--blue {
  color: var(--accent-color);
}

.logo-text--dark {
  color: var(--main-title-color);
}
